{% load static %}
<!DOCTYPE HTML>
<html lang="pl">
<head>
	<link href="{% static 'ultimate_weather_site/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	 <meta charset="UTF-8">
	<title>Tytuł</title>
	<link rel="stylesheet" href="{% static 'ultimate_weather_site/style.css' %}" media="screen">

</head>

<body>
	<script src="{% static 'ultimate_weather_site/jquery-2.2.3.min.js' %}" ></script>
	<script src="{% static 'ultimate_weather_site/bootstrap.min.js' %}"></script>


          <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Temperatury
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  {% if dates %}
                      {% for date in dates %}
                          <li><a href="/ultimateweather/{{  date }}">{{  date }}</a></li>
                      {% endfor %}
                  {% endif %}
              </ul>
          </div>



 <header class="header" id="top">




      </header>


</body>

</html>