{% load static %}
<!DOCTYPE HTML>
<html lang="pl">
<head>
	<link href="{% static 'ultimate_weather_site/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	 <meta charset="UTF-8"> 
	<title>Tytuł</title>
	<link rel="stylesheet" href="{% static 'ultimate_weather_site/style.css' %}" media="screen">

</head>

<body>
	<script src="{% static 'ultimate_weather_site/jquery-2.2.3.min.js' %}" ></script>
	<script src="{% static 'ultimate_weather_site/bootstrap.min.js' %}"></script>
	

	
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
		 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" onclick="showMain()" style="cursor: pointer;">Pszczoły</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" >
            <li><a class="button"  onclick="show1()" >1 pszczoła</a></li>
            <li><a class="button" onclick="show2()" >2 pszczoły</a></li>
            <li><a class="button" onclick="show3()">3 pszczoły</a></li>
          </ul>
        </div>
      </div>
    </nav>


 <header class="header" id="top">
        <h1>Ultimate weather</h1>

          <div class="text-vertical-center">

            {% if temp_dict %}
                <table class="table main_table" >
                <th></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <th>24</th>
                 {% for key, value in temp_dict.items %}
                    <tr><td>{{key}}</td>
                        {% for temp in value %}
                            <td>{{temp}}&#176C</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </table>


            {% else %}
                <p>No weather. No future.</p>
            {% endif %}


       </div>
      </header>

	
</body>

</html>