{% load static %}
<!DOCTYPE HTML>
<html lang="pl">
<head>
    <link href="{% static 'ultimate_weather_site/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
    <title>Ultimate weather</title>
    <link rel="stylesheet" href="{% static 'ultimate_weather_site/style.css' %}" media="screen">

</head>

<body>
<script src="{% static 'ultimate_weather_site/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'ultimate_weather_site/bootstrap.min.js' %}"></script>


{#	<nav class="navbar navbar-inverse navbar-fixed-top">#}
{#      <div class="container">#}
{#        <div class="navbar-header">#}
{#		 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">#}
{#            <span class="sr-only">Toggle navigation</span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#          </button>#}
{#          <a class="navbar-brand" onclick="showMain()" style="cursor: pointer;">Pszczoły</a>#}
{#        </div>#}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Ultimate weather</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="/">Temperatury
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% if dates %}
                        {% for date in dates %}
                            <li><a href="/{{ date }}">{{ date }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>

            </li>
            <li><a href="/statistics">Statystyki</a></li>

        </ul>
    </div>
</nav>

{#<nav class="navbar navbar-default">#}
{#<ul>#}
{#    <li><div class="dropdown">#}
{#        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Temperatury#}
{#            <span class="caret"></span></button>#}
{#        <ul class="dropdown-menu">#}
{#            {% if dates %}#}
{#                {% for date in dates %}#}
{#                    <li><a href="/{{ date }}">{{ date }}</a></li>#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        </ul>#}
{#    </div></li>#}
{#   <li> <div>#}
{#        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statystyki</button>#}
{#    </div></li>#}
{#</ul>#}
{#</nav>#}
{#          <nav class="navbar navbar-inverse">#}
{#              <ul class="nav navbar-nav">#}
{#                  #}
{#              </ul>#}
{#            <p class="navbar-text">Some text</p>#}
{#          </nav>#}
{#        <div id="navbar" class="navbar-collapse collapse">#}
{#          <ul class="nav navbar-nav" >#}
{#              {% if dates %}#}
{#                  {% for date in dates %}#}
{#                      <li><a class="button"  onclick="show1()" >1 pszczoła</a></li>#}
{#                  {% endfor %}#}
{#              {% endif %}#}
{#            <li><a class="button"  onclick="show1()" >1 pszczoła</a></li>#}
{#            <li><a class="button" onclick="show2()" >2 pszczoły</a></li>#}
{#            <li><a class="button" onclick="show3()">3 pszczoły</a></li>#}
{#          </ul>#}
{#        </div>#}
{#      </div>#}
{#    </nav>#}


<header class="header" id="top">
    {% if current_date %}
        <h1>{{ current_date }}</h1>
    {% endif %}


    <div class="text-vertical-center">

        {% if temp_dict %}
            <table class="table main_table">
                <th></th>
                <th>0</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                {% for service_name, temperatures_with_values in temp_dict.items %}
                    <tr>
                        {% if service_name == 'Actual' %}
                            <td>{{ 'Rzeczywiste temperatury' }}</td>
                        {% else %}
                            <td>{{ service_name }}</td>
                        {% endif %}
                        {% for temp_with_value in temperatures_with_values %}
                            {% for temp, value in temp_with_value.items %}
                                <td style="color: {{ value }}">{{ temp }} {% if temp != '-' %} &#176C {% endif %} </td>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>


        {% else %}
            <p>No weather today.</p>
        {% endif %}


    </div>
</header>


</body>

</html>